body {
    background-image: url(https://img.freepik.com/fotos-premium/lapices-colores-hoja-notas-encuentran-sobre-fondo-azul-vista-superior-lista-tareas-pendientes-fondo-regreso-escuela_230115-2403.jpg);
    font-family: Arial, sans-serif;
    text-align: center;
    cursor: pointer;
}

.form-container {
    height: 60vh;
    background-color: rgba(0, 0, 0, );
    margin-top: 50px;
    border: 1px solid black ;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 10px 5px 10px rgb(179, 231, 245);
}

label {
    display: block;
    margin-bottom: 6px;
}
input, select {
    width: 71%;
    margin-left: 35px;
    margin-top: 9px;
    margin-bottom: 15px;
    padding: 5px;
    border: 3px dashed #bedee7;
    left: 300px;
    border-radius: 10px;
    cursor: pointer;
}
h2,h1 {

    color: black;
    text-align: center;
    padding: 10px;
    padding-bottom: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 30px;
    font-size: 32px;
  
 }
button {
    background-color: #4a148c;
    color: #e040fb;
    padding: 10px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    width:30%;
    margin-left: 35px;
}
#result {
    margin-top: 20px;
}

.hidden {
    display: none;
}
